@use '../abstracts' as *;
@use '../base' as *;
@use '../components' as *;

.content--slices {
  grid-column: col-start 4 / center-end;
  @include mq(medium) {
    grid-column: center;
    margin-top: 3rem;
  }
  .menu-slices {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-gap: 3rem;
    grid-row-gap: 10rem;
    @include mq(medium) {
      margin-top: 3rem;
    }
  }
}
