// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro:wght@400;900&display=swap');
$ff-primary: 'Open Sans';
$ff-secondary: 'Source Sans Pro';

.inside-title {
  font-size: 4rem;
}
